:root{
    --button-hover-color: #357266;
    --button-color: #C6AC8F;
    --text-color: #0A0908;
    --text-secondary-color: #EAE0D5;
    --bg-color: #5E503F;
    --card-color: #C6AC8F;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
    text-align: center;
    background-color: var(--bg-color);
}

/* -----------------
----------components
-------------------- */
.container{
    width: 80vw;
}

.hidden{
    display: none !important;
}

.btn{
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 16px;

    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    margin: 8px 0;
}

.btn:hover{
    background-color: var(--button-hover-color);
    color: var(--text-color);
}

.btn--active{
    background-color: var(--text-color);
    color: var(--bg-color);
}

.title{
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color);
    margin-block: 32px 16px;
}

.title--main{
    color: var(--text-secondary-color);
}

.card__eng{
    font-weight: 600;;
}


/* -----------------
------------subjects
-------------------- */

.subject{
    margin: auto;
}

/* -----------------
---------------grade
-------------------- */

.grade{
    margin: auto;
}

/* -----------------
--------------topics
-------------------- */

.topic{
    margin: auto;
}

/* -----------------
------------formulas
-------------------- */

.formula{
    margin: 32px auto;
}

.formula__chapter-title{
    grid-column: span 2;
}

.formula__card{
    background-color: var(--card-color);
    overflow-y: hidden;
    overflow-x: auto;
    border-radius: 8px;
    padding: 16px;
    width: calc((80vw - 32px)/2);
    font-size: 1.6rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: calc((410px - 32px)/2);
}

/* -----------------
-------------chapter
-------------------- */

.chapter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 80vw;
    margin: auto;
}

.chapter__btn{
    height: 90px;
    margin: 0;
}

/* -----------------
-----------constants
-------------------- */
.constants{
    margin: 32px auto;
}

.constants__chapter-title{
    grid-column: span 2;
}

.constant__card{
    background-color: var(--card-color);
    overflow-y: hidden;
    overflow-x: auto;
    border-radius: 8px;
    padding: 16px;
    width: calc((80vw - 32px)/2);
    font-size: 1.6rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: calc((410px - 32px)/2);
}

/* -----------------
---------------units
-------------------- */
.units{
    margin: 32px auto;
}

.units__chapter-title{
    grid-column: span 2;
}

.unit__card{
    background-color: var(--card-color);
    overflow-y: hidden;
    overflow-x: auto;
    border-radius: 8px;
    padding: 16px;
    width: calc((80vw - 32px)/2);
    font-size: 1.6rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: calc((410px - 32px)/2);
}
/* -----------------
------------back-btn
-------------------- */

.back-btn{
    padding: 12px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0;
    background-color: var(--button-hover-color);

    position: fixed;
    bottom: 50px;
    right: 50px;
}

/* -----------------
----------responsive
-------------------- */
@media screen and (max-width: 480px) {
    .chapter{
        grid-template-columns: 1fr;
    }

    .formula__card, .unit__card, .constant__card{
        width: 100%;
    }

    .formula__chapter-title, .constants__chapter-title, .units__chapter-title{
        grid-column: span 1;
    }
}