:root{
    --button-hover-color: #e4eaf2;
    --button-color: #e7e6e7;
    --text-color: #101010;
    --text-secondary-color: #525355;
    --bg-color: #f7f7f7;
    --card-color: #ffffff;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
    text-align: center;
    background-color: var(--bg-color);
}

/* -----------------
----------components
-------------------- */

.hidden{
    display: none !important;
}

.btn{
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 16px;

    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    margin: 8px 0;
    /* width: calc(100% / 2 - 10px); */
}

.btn:hover{
    background-color: var(--button-hover-color);
    color: var(--text-color);
}

.btn--active{
    background-color: var(--text-color);
    color: var(--bg-color);
}

.title{
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color);
    margin-block: 32px 16px;
}

/* -----------------
------------subjects
-------------------- */

.subject{
    width: 80vw;
    min-width: 410px;
    margin: auto;

}

/* -----------------
---------------grade
-------------------- */

.grade{
    width: 80vw;
    min-width: 410px;
    margin: auto;

}

/* -----------------
--------------topics
-------------------- */

.topic{
    width: 80vw;
    min-width: 410px;
    margin: auto;

}

/* -----------------
------------formulas
-------------------- */

.formula{
    width: 80vw;
    min-width: 410px;
    margin: 32px auto;
}

.formula__chapter-title{
    grid-column: span 2;
}

.formula__card{
    background-color: var(--card-color);
    overflow-y: hidden;
    overflow-x: auto;
    border-radius: 8px;
    padding: 16px;
    width: calc((80vw - 32px)/2);
    min-width: calc((410px - 32px)/2);
    font-size: 1.6rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__eng{
    font-weight: 600;;
}

/* -----------------
-------------chapter
-------------------- */

.chapter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 80vw;
    margin: auto;
}

.chapter__btn{
    height: 90px;
    margin: 0;
}

/* -----------------
-----------constants
-------------------- */

/* -----------------
---------------units
-------------------- */